<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidcontentproviderdemo.androidcontentprovider">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <provider android:name="com.androidcontentproviderdemo.androidcontentprovider.ImagesProvider"
            android:authorities="androidcontentproviderdemo.androidcontentprovider.images"
            >
        </provider>
    </application>



</manifest>
